version: '3.8'

services:
  backend:
    image: raginimetlapalli/social-media-engagement-backend:${IMAGE_TAG:-latest}
    ports:
      - "8000:8000"
    container_name: social-media-backend

  frontend:
    image: raginimetlapalli/social-media-engagement-frontend:${IMAGE_TAG:-latest}
    ports:
      - "5173:80"
    depends_on:
      - backend
    container_name: social-media-frontend

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.24
    container_name: elasticsearch
    environment:
      - node.name=elasticsearch
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - bootstrap.memory_lock=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"

  logstash:
    image: docker.elastic.co/logstash/logstash:7.17.0
    container_name: logstash
    volumes:
      - ./devops/elk/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    ports:
      - "5000:5000"
    depends_on:
      - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.0
    container_name: kibana
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch





