apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: default
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd.pos
      tag kube.*
      read_from_head true
      <parse>
        @type none
      </parse>
    </source>

    <filter kube.**>
      @type kubernetes_metadata
    </filter>

    <filter kube.**>
      @type grep
      <regexp>
        key $.kubernetes.labels.app
        pattern (backend|frontend)
      </regexp>
    </filter>

    <match **>
      @type elasticsearch
      host elasticsearch
      port 9200
      scheme http
      logstash_format true
      logstash_prefix app-logs
    </match>
