apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: default
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.pos
      tag kubernetes.*
      read_from_head true

      <parse>
        @type multi_format

        # JSON logs (your backend structured logs)
        <pattern>
          format json
          time_key asctime
          time_format %Y-%m-%d %H:%M:%S,%L
        </pattern>

        # Plain text logs (uvicorn, kube-probe, etc.)
        <pattern>
          format none
        </pattern>
      </parse>
    </source>

    # Only backend & frontend pods
    <filter kubernetes.**>
      @type grep
      <regexp>
        key $.kubernetes.labels.app
        pattern (backend|frontend)
      </regexp>
    </filter>

    # Send to Elasticsearch
    <match kubernetes.**>
      @type elasticsearch
      host "#{ENV['FLUENT_ELASTICSEARCH_HOST']}"
      port "#{ENV['FLUENT_ELASTICSEARCH_PORT']}"
      scheme "#{ENV['FLUENT_ELASTICSEARCH_SCHEME']}"
      logstash_format true
      logstash_prefix app-logs
      include_tag_key true
      type_name _doc
    </match>
