apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: default
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /var/log/fluentd-containers.pos
      tag kubernetes.*
      read_from_head true

      <parse>
        @type multi_format

        <pattern>
          format json
          time_key asctime
          time_format %Y-%m-%d %H:%M:%S,%L
        </pattern>

        <pattern>
          format none
        </pattern>
      </parse>
    </source>

    <filter kubernetes.**>
      @type kubernetes_metadata
    </filter>

    <match **>
      @type elasticsearch
      host elasticsearch
      port 9200
      scheme http
      logstash_format true
      logstash_prefix logstash
      include_tag_key true
    </match>
